   /* Opcional: Asegura que el texto no se sobrepase del tamaño de la pantalla */
    /* Fuentes personalizadas */
.body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      background-color: #f8f9fa;
    }

.container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

 .navbar {
      width: 100%;
      /* Asegura que el navbar se expanda completamente */
      margin-bottom: 30px;
    }

 /* Estilo para el recuadro negro que se coloca encima del navbar */
    .top-bar {
      background-color: white;
      width: 100%;
      height: 50px;
      /* Altura del recuadro negro */
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999;
    }

    /* Navbar con íconos de redes sociales */
    .navbar .nav-link {
      font-size: 1.5rem;
    }

     /* Los iconos estan alineados en una sola fila = row*/
    .sm-icons {
      flex-direction: row;
    }

    .sm-icons .nav-link {
      padding-right: 1rem;
    }

     /* Estilos generales para el footer */
    .footer {
        background-color: white;
        color: black;
        padding: 40px 0;
        text-align: center;
        margin-top: 80px;
        border-radius: 10px 10px 0 0;
        
    }

    .footer h3 {
        margin-bottom: 20px;
        font-size: 1.8rem;
    }

    /* Estilos para los iconos de las redes sociales */
    .social-icons {
        list-style: none;
        padding: 0;
        margin: 0;
    
        display: flex;
        justify-content: center;
        align-items: center;

    }


    /* Estilos de los enlaces de los iconos */
    .social-icons a {
        margin: 0 15px;
        color: black;
        font-size: 40px;
        transition: transform 0.3s, color 0.3s;
    }

     /* Efecto hover */
    .social-icons a:hover {
        transform: translateY(-5px);
        /* Movimiento de los iconos al pasar el cursor */
        color: #007bff;
        /* Cambio de color */
    }

    

    /*About*/
    .container {
        margin-top: 50px;
    }

    .content {

        background-color: rgba(255, 255, 255, 0.7);
        /* Casilla transparente */
        border-radius: 8px;

        box-shadow: 0 4px 10px rgba(170, 8, 202, 0.144);
        /* Sombra suave */
    }

    /* Estilo para la imagen */
    .img-rounded {
        border-radius: 15px;
        max-width: 100%;
        /* Imagen responsiva */
        height: auto;
    }

    .main-container {
        padding: 50px 0;
    }
    .main-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
.main-text .content {
        max-width: 70%;
    }

.main-text .content p {
        font-size: 5.9rem;
        line-height: 0.5;
    }

.main-text .image-container img {
        max-width: 70%;
        height: auto;
        border-radius: 15px;
        max-height: 300px;
        /* Ajustamos el tamaño máximo de la imagen */
    }




    /* Responsive */
    @media (max-width: 768px) {
    
        /*fotter*/
        .contact-info {
    padding: 30px;
    }

    /* Asegura que los íconos estén alineados en una sola fila */
        .social-icons {
      transform: translate(0, 150%);
      /* Centrado exacto */
    }

    .repo-box {
        margin-bottom: 20px;
      }

      /*about*/

      .main-text .content {
            max-width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }

        .main-text .image-container {
            margin-top: 10px;
            margin-left: auto;
            /* Margen automático a la izquierda */
            margin-right: auto;
            /* Margen automático a la derecha */

        }
        
    }