body {
    background-color: white;
}

.carousel{
    width: 80%;  /* Ajusta el ancho del carousel */
    height: 400px;  /* Ajusta la altura del carousel */
    margin: auto;  /* Centra el carousel en la página */
}
.carousel-item {
    text-align: center;
    font-size: 2rem;
    padding: 30px;
}
.carousel-item i {
    font-size: 60px;
    color: #555;
    transition: color 0.3s;
}
.carousel-item i:hover {
    color: #007bff;
}




   
   